# Dependencies
node_modules/

# Next.js build output
.next/
out/
build/
dist/
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Vercel
.vercel/

# Editor files
.vscode/
.idea/
